<carousel [isAnimated]="true" class="carousel-container">
  <slide>
      <img src="assets/images/hero1.jpeg" alt="First slide" class="carousel-image">
  </slide>
  <slide>
      <img src="assets/images/test1.jpg" alt="Second slide" class="carousel-image">
  </slide>
  <slide>
      <img src="assets/images/test2.jpg" alt="Third slide" class="carousel-image">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Company!</h1>
  </div>
</section>
